In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("train.csv")

df.info()
df.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Student_ID            45000 non-null  int64
 1   Age                   45000 non-null  int64
 2   Gender                45000 non-null  object
 3   Degree                45000 non-null  object
 4   Branch                45000 non-null  object
 5   CGPA                  45000 non-null  float64
 6   Internships           45000 non-null  int64
 7   Projects              45000 non-null  int64
 8   Coding_Skills         45000 non-null  int64
 9   Communication_Skills  45000 non-null  int64
 10  Aptitude_Test_Score   45000 non-null  int64
 11  Soft_Skills_Rating    45000 non-null  int64
 12  Certifications        45000 non-null  int64
 13  Backlogs              45000 non-null  int64
 14  Placement_Status      45000 non-null  object
dtypes: float64(1), int64(10), object(4)
memory usage: 5.1+ MB

,Student_ID,Age,Gender,Degree,Branch,CGPA,Internships,Projects,Coding_Skills,Communication_Skills,Aptitude_Test_Score,Soft_Skills_Rating,Certifications,Backlogs,Placement_Status
count,45000.000000,45000.000000,45000,45000,45000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000
unique,NaN,NaN,2,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,NaN,Female,B.Sc,ME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Placed
freq,NaN,NaN,22620,11357,9056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28688
mean,24977.962600,20.999333,NaN,NaN,NaN,7.002290,0.774089,3.734222,5.691800,5.501644,69.385356,5.501644,1.800956,0.888133,NaN
std,14425.605704,1.995071,NaN,NaN,NaN,0.993855,0.844750,0.923738,1.994674,1.515374,13.909710,1.238722,0.650104,0.970954,NaN
min,1.000000,18.000000,NaN,NaN,NaN,4.500000,0.000000,1.000000,1.000000,1.000000,35.000000,1.000000,0.000000,0.000000,NaN
25%,12509.750000,19.000000,NaN,NaN,NaN,6.320000,0.000000,3.000000,4.000000,4.000000,60.000000,5.000000,1.000000,0.000000,NaN
50%,24957.500000,21.000000,NaN,NaN,NaN,7.000000,1.000000,4.000000,6.000000,6.000000,69.000000,5.000000,2.000000,1.000000,NaN
75%,37475.250000,23.000000,NaN,NaN,NaN,7.670000,1.000000,4.000000,7.000000,7.000000,79.000000,6.000000,2.000000,2.000000,NaN
max,50000.000000,24.000000,NaN,NaN,NaN,9.800000,3.000000,6.000000,10.000000,10.000000,100.000000,10.000000,3.000000,3.000000,NaN

In [3]:
numeric_cols = df.select_dtypes(include=np.number)

numeric_summary = numeric_cols.agg(
    ['mean', 'median', 'min', 'max', 'std', 'var']
).T

numeric_summary

,mean,median,min,max,std,var
Student_ID,24977.962600,24957.5,1.0,50000.0,14425.605704,2.080981e+08
Age,20.999333,21.0,18.0,24.0,1.995071,3.980310e+00
CGPA,7.002290,7.0,4.5,9.8,0.993855,9.877481e-01
Internships,0.774089,1.0,0.0,3.0,0.844750,7.136022e-01
Projects,3.734222,4.0,1.0,6.0,0.923738,8.532922e-01
Coding_Skills,5.691800,6.0,1.0,10.0,1.994674,3.978723e+00
Communication_Skills,5.501644,6.0,1.0,10.0,1.515374,2.296359e+00
Aptitude_Test_Score,69.385356,69.0,35.0,100.0,13.909710,1.934800e+02
Soft_Skills_Rating,5.501644,5.0,1.0,10.0,1.238722,1.534431e+00
Certifications,1.800956,2.0,0.0,3.0,0.650104,4.226351e-01
Backlogs,0.888133,1.0,0.0,3.0,0.970954,9.427512e-01

In [4]:
range_summary = numeric_cols.max() - numeric_cols.min()
range_summary

Student_ID              49999.0
Age                         6.0
CGPA                        5.3
Internships                 3.0
Projects                    5.0
Coding_Skills               9.0
Communication_Skills        9.0
Aptitude_Test_Score        65.0
Soft_Skills_Rating          9.0
Certifications              3.0
Backlogs                    3.0
dtype: float64

In [5]:
categorical_cols = df.select_dtypes(include='object')

categorical_modes = categorical_cols.mode().iloc[0]
categorical_modes

Gender                  Female
Degree                    B.Sc
Branch                      ME
Placement_Status    Not Placed
Name: 0, dtype: object

In [6]:
placement_counts = df['Placement_Status'].value_counts()
placement_percentages = df['Placement_Status'].value_counts(normalize=True) * 100

placement_counts, placement_percentages

(Placement_Status
 Not Placed    28688
 Placed        16312
 Name: count, dtype: int64,
 Placement_Status
 Not Placed    63.751111
 Placed        36.248889
 Name: proportion, dtype: float64)

In [7]:
missing_summary = df.isna().sum()
missing_summary

Student_ID              0
Age                     0
Gender                  0
Degree                  0
Branch                  0
CGPA                    0
Internships             0
Projects                0
Coding_Skills           0
Communication_Skills    0
Aptitude_Test_Score     0
Soft_Skills_Rating      0
Certifications          0
Backlogs                0
Placement_Status        0
dtype: int64

In [8]:
df['CGPA'].mean(), df['CGPA'].median()

(np.float64(7.0022902222222205), np.float64(7.0))

## Descriptive Statistics

This section presents summary statistics for the Student Placement Dataset,
including measures of central tendency and variability for key attributes.

In [9]:
import pandas as pd
import numpy as np

df = pd.read_csv("train.csv")
df.info()
df.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Student_ID            45000 non-null  int64
 1   Age                   45000 non-null  int64
 2   Gender                45000 non-null  object
 3   Degree                45000 non-null  object
 4   Branch                45000 non-null  object
 5   CGPA                  45000 non-null  float64
 6   Internships           45000 non-null  int64
 7   Projects              45000 non-null  int64
 8   Coding_Skills         45000 non-null  int64
 9   Communication_Skills  45000 non-null  int64
 10  Aptitude_Test_Score   45000 non-null  int64
 11  Soft_Skills_Rating    45000 non-null  int64
 12  Certifications        45000 non-null  int64
 13  Backlogs              45000 non-null  int64
 14  Placement_Status      45000 non-null  object
dtypes: float64(1), int64(10), object(4)
memory usage: 5.1+ MB

,Student_ID,Age,Gender,Degree,Branch,CGPA,Internships,Projects,Coding_Skills,Communication_Skills,Aptitude_Test_Score,Soft_Skills_Rating,Certifications,Backlogs,Placement_Status
count,45000.000000,45000.000000,45000,45000,45000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000
unique,NaN,NaN,2,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,NaN,Female,B.Sc,ME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Placed
freq,NaN,NaN,22620,11357,9056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28688
mean,24977.962600,20.999333,NaN,NaN,NaN,7.002290,0.774089,3.734222,5.691800,5.501644,69.385356,5.501644,1.800956,0.888133,NaN
std,14425.605704,1.995071,NaN,NaN,NaN,0.993855,0.844750,0.923738,1.994674,1.515374,13.909710,1.238722,0.650104,0.970954,NaN
min,1.000000,18.000000,NaN,NaN,NaN,4.500000,0.000000,1.000000,1.000000,1.000000,35.000000,1.000000,0.000000,0.000000,NaN
25%,12509.750000,19.000000,NaN,NaN,NaN,6.320000,0.000000,3.000000,4.000000,4.000000,60.000000,5.000000,1.000000,0.000000,NaN
50%,24957.500000,21.000000,NaN,NaN,NaN,7.000000,1.000000,4.000000,6.000000,6.000000,69.000000,5.000000,2.000000,1.000000,NaN
75%,37475.250000,23.000000,NaN,NaN,NaN,7.670000,1.000000,4.000000,7.000000,7.000000,79.000000,6.000000,2.000000,2.000000,NaN
max,50000.000000,24.000000,NaN,NaN,NaN,9.800000,3.000000,6.000000,10.000000,10.000000,100.000000,10.000000,3.000000,3.000000,NaN

In [10]:
numeric_summary.round(2)

                          mean   median   min      max       std           var
Student_ID            24977.96  24957.5   1.0  50000.0  14425.61  2.080981e+08
Age                      21.00     21.0  18.0     24.0      2.00  3.980000e+00
CGPA                      7.00      7.0   4.5      9.8      0.99  9.900000e-01
Internships               0.77      1.0   0.0      3.0      0.84  7.100000e-01
Projects                  3.73      4.0   1.0      6.0      0.92  8.500000e-01
Coding_Skills             5.69      6.0   1.0     10.0      1.99  3.980000e+00
Communication_Skills      5.50      6.0   1.0     10.0      1.52  2.300000e+00
Aptitude_Test_Score      69.39     69.0  35.0    100.0     13.91  1.934800e+02
Soft_Skills_Rating        5.50      5.0   1.0     10.0      1.24  1.530000e+00
Certifications            1.80      2.0   0.0      3.0      0.65  4.200000e-01
Backlogs                  0.89      1.0   0.0      3.0      0.97  9.400000e-01